.style_header{
    border: 0.1px solid black;
    margin: 5px;
    height: 50px;
}
.div_Style{
    width: 1270px;
    margin: 0 auto;
}
.styless{
    margin-top: 15px;
color: black;
}
.Style_Name{
    margin-left: 1180px;
margin-top: -23px;
}